version: '3'

services:
  backend:
    image: codicon_backend:1.0
    container_name: codicon_backend
    build:
      context: ./Backend
      dockerfile: Dockerfile
    ports:
      - "${PORT_BACKEND}:8001"
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - codicon
    volumes:
      - ./Backend:/home/app
    depends_on:
      - mysql

  nginx:
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    container_name: backing-ring-nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    environment:
      - BACKEND_HOST=${BACKEND_HOST}
      - APP_SSL=${APP_SSL}
      - FRONTEND_HOST=${FRONTEND_HOST}
    volumes:
      - ./Frontend/dist/:/var/www/html/frontend/
      - ./certbot/www/:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
    networks:
      - codicon
    
  mysql:
    image: mysql:5.7
    ports:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pixel_perfect
      MYSQL_USER: codicon
      MYSQL_PASSWORD: codicon
    volumes:
      - ./mysql:/var/lib/mysql
    networks:
      - codicon
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: codicon
      PMA_PASSWORD: codicon
    depends_on:
      - mysql
    networks:
      - codicon

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/nginx/ssl/:rw

networks:
  codicon:
    driver: bridge