<!DOCTYPE html>

<body>
	<h1>Introduzca sus datos</h1>
	<form method="POST" action="/signup">
		<div>
			<label><input type="radio" name="rol" value="3"> Usuario</label>
			<label><input type="radio" name="rol" value="2"> Refugio</label>
		</div>
		<div>
			<input type="text" name="nombre" placeholder="nombre">
			<input type="text" name="apellido" placeholder="apellido">
			<input type="text" name="correo" placeholder="correo">
			<input type="password" name="contrasena" placeholder="contrasena">
			<input type="text" name="telefono" placeholder="telefono">
			<input type="text" name="direccion" placeholder="direccion">
			<input type="submit">
		</div>
	</form>
</body>
