[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.3"
flask-sqlalchemy = "*"
python-dotenv = "*"
mysqlclient = "*"
flask-principal = "*"
flask-login = "*"
gevent = "*"
gunicorn = "*"
gevent-websocket = "*"
flask-cors = "*"

[dev-packages]
Flask-Migrate = "*"
Flask-Seeder = "*"
faker = "*"
lorem = "*"

[requires]
python_version = "3.8"
