[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.3"
flask-sqlalchemy = "*"
python-dotenv = "*"
mysqlclient = "*"
flask-migrate = "*"

[dev-packages]
faker = "*"
flask-migrate = "*"
flask-cli = "*"

[requires]
python_version = "3.8"
