[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.3"
flask-sqlalchemy = "*"
python-dotenv = "*"
mysqlclient = "*"
lorem = "*"
flask-principal = "*"
flask-login = "*"

[dev-packages]
flask-migrate = "*"
flask-seeder = "*"
faker = "*"
lorem = "*"

[requires]
python_version = "3.8"
